html {
  --latte: #FFF8E5;
  --latte-highlight: #F2ECDB;
  --root: #27080A;
  --root-highlight: #4D1014;
  --turquoise: #48D1CD;
  --reddish: #811B21;


  --default-text-color: var(--root);
  --default-background-color: var(--latte);
  --default-highlight-color: var(--turquoise);
  --code-bg: var(--latte-highlight);

  --standard-spacing: 1rem;
}

@media (prefers-color-scheme: dark) {
  html {
    --default-text-color: var(--latte);
    --default-background-color: var(--root);
    --default-highlight-color: var(--reddish);
    --code-bg: var(--root-highlight);
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;

  width: 100%;

  background-color: var(--default-background-color);
  color: var(--default-text-color);
}

tt {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  display: inline-block;
  background-color: var(--code-bg);
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

a, a:hover {
  color: var(--default-text-color);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

a.back:before {
  content: "◀";
  font-size: 0.8rem;
  display: inline-block;
  margin-right: 0.4rem;
  text-decoration: none;
}

a.view-post:after {
  content: "▶";
  font-size: 0.8rem;
  display: inline-block;
  margin-left: 0.4rem;
  text-decoration: none;
}

ul, ol {
  list-style-position: outside;
  padding-left: var(--gutter);
}
ol > li {
  list-style-type: decimal;
}
ul > li {
  list-style-type: disc;
}
