---
header_class: ""
header_markup: <a href="https://gotno.net">gtno.net</a>
layout: layout.liquid
page_title: gotno.net
---
<article>
  <div class="head">
    <div class="hello">
      <img src="/assets/img/gtno.gif" width="240" height="320">
      <p>hello.</p>
    </div>
    <div class="more">
      <p>My name is Will</p>
      <p>I am a software engineer doing <em>web stuff</em> professionally.</p>
      <p>I&rsquo;m looking for work!</p>
      <p><a href="https://www.linkedin.com/in/floydwill/" target="_blank">linkedin</a> / <a href="/assets/will_floyd-resume.pdf" target="_blank">resume</a> / <a href="https://github.com/gotno">github</a></p>
    </div>
  </div>
  <div class="side-by-side">
    <div>
      <a href="https://blog.gotno.net/vcvrvr" target="_blank">
        <img src="assets/img/VCVRVRScreenshot-2023-06-07-132212_square.jpg">
      </a>
    </div>
    <div>
      I have a current side project called <a href="https://blog.gotno.net/vcvrvr" target="_blank">VCVRVR</a> where I&rsquo;m doing fun stuff with <strong>C++</strong> and <strong>virtual reality</strong> and <strong>modular synths</strong>.
    </div>
  </div>
  <div class="side-by-side">
    <div>
      <a href="https://gotno.github.io" target="_blank">
        <img src="/assets/img/ship_spin2_sm.gif">
      </a>
    </div>
    <div>
      I have an old old game called Infinite Asteroids I built with <strong>javascript</strong> only. It is still fun to play and fun to look at, and can be found <a href="https://gotno.github.io" target="_blank">over here</a>.
    </div>
  </div>
</article>
